
<div class="container">
  <div class="wrapper-new">
    <div class="form-new">
      <h1 style="color: #ff5b60;">Post your flat</h1>

      <%= simple_form_for [@user, @flat] do |f| %>
            <%= f.input :title %>

            <%= f.input :city %>

            <%= f.input :address %>

            <%= f.input :picture %>
            <%= f.input :picture_cache, as: :hidden %>

            <%= f.input :description %>

            <%= f.input :price_night, :label => "Price per night" %>
            <div class="bottom">

      <%= link_to 'Back', root_path %>
      <%= f.submit "Post", class: "button-rbnb" %>
      <br>

      <% end %>

        </div>
    </div>
  </div>
</div>
