<div class="dash-container">
  <% @my_trips.each do |trip| %>
    <div class="dash-card">
      <div class="dash-pic-data">
        <div class="dash-pic" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.3) 0%, rgba(0,36,61,0.2) 50%), url('<%= cl_image_path trip.flat.picture %>')">
        </div>
        <div class="dash-data">
          <div class="dash-dates"></div>
            <div class="dash-start-date">
              <%= trip.start_date %>
            </div>
            <div class="dash-end-date">
              <%= trip.end_date %>
            </div>
          <div class="dash-price">
            <%= trip.total_price %>
          </div>
          <div class="dash-status">
            <%= trip.status %>
          </div>
        </div>
      </div>
      <div class="dash-info">
        <div class="dash-city-title-type">
          <div class="dash-city"><%=trip.flat.city%></div>
          <div class="dash-title"><%=trip.flat.title%></div>
          <div class="dash-type"><%=trip.flat.type%></div>
        </div>
        <div class="dash-description"><%=trip.flat.description%></div>
      </div>
    </div>
  <% end %>
</div>
